/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Original Code */

body, html {
  width: 100%;
  height: 100%;
}

a, div{
  font-family: arial, sans-serif;
  font-size: small;
  position: relative;
}

a{
    margin: 0 5px;
}

span{
  font-size: 13px;
  padding-left: 15px;
 /* opacity: .75;*/
  top: 7px;
}

input:focus{
  outline: none;
}

#logo_wrapper{
  padding-top: 85px;
}

#logo{
  height: 92px;
  width: 272px;
  display: block;
  text-align: -webkit-center;
  padding-top: 109px;
  position: relative;
  margin: auto;
  padding-bottom: 25px;
}

.search-wrapper{
  margin: auto;
  width: 800px;
  text-align: center;
  border-radius: 2px;
}

.search{
  margin: auto;
  width: 600px;
}

input{
  width: 413px;
  height: 14px;
  box-shadow: 0 1px 4px rgb(185, 185, 185);
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  font-family: arial, sans-serif;
  padding: 15px;
}

#header-wrapper{
  position: absolute; 
  line-height: 40px;
  width: 100%;
  top: 11px;
  }

#header-right{
  float: right;
}

#header-left{
  padding-left: 15px;
}

header a{
  padding: 3px;
}

#icon{
  position: relative;
  padding: 0 4px 0 4px;
  margin: 0 4px 0 4px;
  top: 8px;
  height: 25px;
  width: 25px;
}

#alarm{
  position: relative;
  padding: 0 4px 0 4px;
  margin: 0 4px 0 4px;
  top: 10px;
  height: 25px;
  width: 25px;
}

#dot{
  display: inline-block;
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 100%;
  margin: 0 12px 0 4px;
}

#buttons{
  position: relative;
  text-align: center;
}

button{
  position: relative;
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #757575;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 12.5px;
  font-weight: bold;
  height: 36px;
  width: 126px;
  margin: 25px 4px;
}

#footer-wrapper{
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  display: inline-block;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  width: 100%;
  margin: 0;
  /*opacity: 1.0;*/
}

#footer-right{
  float: right;
  padding-right:20px;
}

footer a{
  text-decoration: none;
  padding: 7px;
  color: #666;
  /*opacity: 1.0;*/
}

footer a:hover{
  text-decoration: underline;
}
